* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(27, 26, 33);
}

.card {
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, #00feba, #5b548a);
    color: #fff;
    margin: 140px auto 0;
    text-align: center;
    border-radius: 20px;
    padding: 40px 35px;
}

.search {
    width: 100%;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.search input {
    border: 0;
    outline: 0;
    background-color: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    margin-right: 16px;
    border-radius: 31px;
    flex: 1;
    font-size: 18px;
}

.btn1 {
    border-radius: 50px;
    border: 0;
    outline: 0;
    background-color: #ebfffc;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.btn1 img {
    width: 20px;
}

.weather-icon {
    width: 140px;
}

.details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin-top: 50px;
}
.temp{
    font-size: 75px;
}
.city{
    font-size: 30px;
    font-weight: 400;
}
.col{
    display: flex;
    align-items: center;
    text-align: center;
}
.col img{
    width: 40px;
    margin-right: 10px;
}
.humidity, .wind{
    font-size: 25px;
    margin-top: -6px;
}
.weather{
    display: none;
}
.error{
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top:10px ;
    display: none;
}